.App {
  text-align: center;
}
.Chat {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}
textarea {
  max-height: 75px;
  overflow: auto;
}
.chatRow .col-xs-10 {
    margin:5px 0 10px;
}
.uname {
  white-space: nowrap;
}
.delContainer{
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
